@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:300');
@import url('https://fonts.googleapis.com/css?family=Raleway');

body{
  margin: 0;
  padding: 0;
  background-color: #282828;
  background-image: url('../img/backgroundHeader.png');
  background-repeat: no-repeat;
  background-position: top center;

}
.clear{
  clear: both;
}

#block-for-slider {
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
}

#viewport {
  width: 100%;
  position: relative;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  text-align: center;
}

#slidewrapper {
  position: relative;
  width: calc(100% * 4);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transition-timing-function: cubic-bezier(.67,.01,.23,1);
  -o-transition-timing-function: cubic-bezier(.67,.01,.23,1);
  transition-timing-function: cubic-bezier(.67,.01,.23,1);
}

#slidewrapper, #slidewrapper ul, #slidewrapper li {
  margin: 0;
  padding: 0;
}

.slide {
  width: calc(100%/4);
  list-style: none;
  display: inline;
  float: left;
}

.slide-img {
  width: 100%;
}

#prev-btn, #next-btn {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  top: calc(50% - 25px);
}

#prev-btn:hover, #next-btn:hover {
  cursor: pointer;
}

#prev-btn {
  left: 20px;
}

#next-btn {
  right: 20px;
}

#nav-btns {
  position: absolute;
  width: 100%;
  bottom: 20px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.slide-nav-btn {
  position: relative;
  display: inline-block;
  list-style: none;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  margin: 3px;
}

.slide-nav-btn:hover {
  cursor: pointer;
}








.container{
  max-width: 1180px;
  height: 7000px;
  margin: auto;
  background-image: url('../img/header.png');
  background-repeat: no-repeat;
  background-position: center top;
}
.header{
  max-width: 1170px;
  height: 1024px;
  margin: auto;
}

.HeaderTop{
margin: auto;
  min-width: 1170px;
  height: 150px;
display: inline-block;
  padding-top: 40px;
}

.HeaderTop a{
  
display: inline-block;
  float: left;
}

.logo_W{
  margin-right: 10px;
display: inline-block;
  float: left;
}
.HeaderTop nav a{
  
display: inline-block;
  float:left;
}
nav .card{
   margin-left: 65px;
   float:left;
}
nav .lupe{
  margin-left: 30px;
   float:left;
}
nav{
  padding-top: 18px;
 padding-left: 100px;
  
}
nav a{
  font-family: 'Montserrat Alternates', sans-serif;
  color: white;
  margin-left: 30px;
  font-size: 14px;
  text-decoration: none;
}
nav a:hover{
  text-decoration: none;
  color: #c7b299;
}
.discribe{
  width: 100%;
  background-color: #fff;
  position: relative;
  padding: 90px 0;
}

.discribe-item{
  display: inline-block;
  float: left;
  width: 25%;
  text-align: center;
}
/*@media screen and (max-width:400px){
  
  .HeaderTop a{
    display: grid;
    flex-wrap:wrap;
  }
  .row1 div{
    float: left;

  }
  .wiroy1{
    display: hidden;
  }
}*/

.b1{
  box-sizing: border-box;
  width: 280px;
  height: 220px;
  border: 1px dotted red;
  display: inline-block;
}

.wiroyl{
  background-color: #fbfaf8;
  width: 100%;
  height: 700px;
  background-image: url('../img/img1.png');
  background-position: bottom center;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 40px;
}

.textH2{

  text-align: center;
  display: inline-block;
  color: #555555;
  font-size: 30px;
  font-weight: 100;
}

.textP{
  text-align: center;
  display: inline-block;
  color: #aeadad;
  font-size: 20px;
  padding-top: 5px;
}
.purchese{
  z-index: 100;
  width: 100%;
  height:150px;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#211b19+0,4c3326+100 */
  background: rgb(33,27,25); /* Old browsers */
  background: -moz-linear-gradient(left, rgba(33,27,25,1) 0%, rgba(76,51,38,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(33,27,25,1) 0%,rgba(76,51,38,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(33,27,25,1) 0%,rgba(76,51,38,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#211b19', endColorstr='#4c3326',GradientType=1 );
}
.Ptext{
  position: relative;
  left: 380px;
  top: 55px;
  float: left;
  font-family: 'Raleway', sans-serif;
  color: white;
}
.pButton{
  position: relative;
  right: 30%;
  top: 20%;
  float: right;
  width: 174px;
  height: 50px;
  background-color: #998675;
  appearance: none;
  box-shadow: none;
  border-radius: 3;
  font-size: 14px;
  color: white;

}
.pButton p{
  position: relative;
  top: 6px;
  left: 30px;
}
.ourletestprojects{
  width: 100%;
  height: 1170px;
  background-color: white;
}
.h2our{
  margin: 0px;
  font-family: 'Raleway', sans-serif;
  color: #555555;
  font-size: 30px;
  display: flex;
  justify-content: center;
  position: relative;
  top: 86px;
}
.Pour{
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #8c8c8c;
  position: relative;
  top: 100px;
}

.menu{
  margin: auto;
}




.NavMain{
  width: 100%;
  position: relative;
}

.NavMain >a{
  display: inline-block;
  float: left;
}
/*start gellery  */
.gellery{
  margin: 0 auto;
}
.gellery h2{
  font-family: "Raleway", sans-serif;
  font-size: 30px;
}



.greed {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 1em;
  justify-items: stretch;
  align-items: stretch;
  margin: 0 10%;

}
.greed > div{
  padding: 1em;
  background-color: #e7a158;
}

.Gbox1 {
  grid-column: 1  ;
  grid-row: 1/3;
}
.Gbox2 {
  grid-column: 2  ;
  grid-row: 1;
}
.Gbox3 {
  grid-column: 2  ;
  grid-row: 2;
}
.Gbox4 {
  grid-column: 2  ;
  grid-row: 3;
}
.Gbox5 {
  grid-column: 3  ;
  grid-row: 1;
}
.Gbox6 {
  grid-column: 3  ;
  grid-row: 2;
}
.Gbox7 {
  grid-column: 3  ;
  grid-row: 3;
}
.Gbox8 {
  grid-column: 4  ;
  grid-row: 1/3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
  grid-auto-rows: 80px;

}

.Gbox8 > div {
  background-color: #d07a09;
}
.flexbox2>div{
  width: 20%;
  height: 100px;
  background-color:#fff;
  display: inline-block;
  float: left;

}
.flexbox2{
  margin: 0 20%;
}
